<p>Database size: {{model.length}}</p>

<p class="pull-right">
  {{link-to 'Add a new Architect' 'architects.new' class='btn btn-success'}}
</p>

{{architects/architects-table model=model}}

{{outlet}}