<div class="row">
{{#each model as |total-entrepeneur|}}
    <div class="col-md-4">
        {{#customer-item item=total-entrepeneur}}
            {{#link-to 'totalEntrepeneur.edit' totalEntrepeneur.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
            <button class="btn btn-danger btn-xs" {{action 'deleteTotalEntrepeneur' totalEntrepeneur}}>Delete</button>
        {{/customer-item}}
    </div>
{{/each}}
</div>