    <thead>
    <tr>
        <th>ID</th>
        <th>Firm Name</th>
        <th>CVR</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Zip Code</th>
        <th>Comment / Notes</th>
        <th>Priority</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      {{#each model key="id" as |item|}}
        {{architects/architects-row item=item}}
      {{else}}
        {{#if model.isUpdating}}
            <tr><td colspan="5" class="text-center">Data is downloading...</td></tr>
        {{else}}
            <tr><td colspan="5" class="text-center">Please add your first item to the list</td></tr>
        {{/if}}
      {{/each}}
    </tbody>