<p>Database size: {{model.length}}</p>

<p class="pull-right">
  {{link-to 'Add a new Photographer' 'photographers.new' class='btn btn-success'}}
</p>
<div class="table-responsive">
{{photographers/photographers-table model=model}}
</div>
{{outlet}}