<div class="row">
{{#each model as |media-houses|}}
    <div class="col-md-4">
        {{#customer-item item=media-houses}}
            {{#link-to 'mediaHouses.edit' mediaHouses.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
            <button class="btn btn-danger btn-xs" {{action 'deleteMediaHouses' mediaHouses}}>Delete</button>
        {{/customer-item}}
    </div>
{{/each}}
</div>