<div class='page-header'>
  <h1>Welcome {{session.currentUser.email}} to the Admin page</h1>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Here you can create new users and more Soon™️</h4>
  </div>
  <div class='panel-body'>
    <ul>
      <h4> Create new user</h4>
      {{#link-to 'sign-up' class='list-group-item'}} Sign-up {{/link-to}}
    </ul>
  </div>
</div>