<h1>Media Houses</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'mediaHouses.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'mediaHouses.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}