<div class='page-header'>
  <h1>Welcome {{session.currentUser.email}}</h1>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Soon™️ explained</h4>
  </div>
  <div class='panel-body'>
    <ul>
      <p>"Soon" does not imply any particular date, time, decade, century, or millennia in the past, present, and certainly not the future. "Soon" shall make no contract or warranty between developers and the end user. "Soon" will arrive some day, developers does guarantee that "soon" will be here before the end of time. Maybe. Do not make plans based on "soon" as developers will not be liable for any misuse, use, or even casual glancing at "soon."</p>
    </ul>
  </div>
</div>