<h1>Building Owners</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'totalEntrepeneur.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'totalEntrepeneur.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}