<div class='page-header'>
  <h1>Welcome {{session.currentUser.email}}</h1>
</div>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>You're now free to create, edit and delete customers in the CRM system.</h4>
  </div>
  <div class='panel-body'>
    <ul>
      <h4> Buildcode customers</h4>
      {{#link-to 'index' class='list-group-item'}} Soon™️ {{/link-to}}
    </ul>
    <br>
    <ul>
      <h4> Instadrone customers</h4>
      {{#link-to 'photographers' class='list-group-item'}} Photographers {{/link-to}} 
      {{#link-to 'media' class='list-group-item'}} Media houses {{/link-to}}
    </ul>
    <br>
    <ul>
      <h4> Sitemotion customers</h4>
      {{#link-to 'architects' class='list-group-item'}} Architects {{/link-to}}
      {{#link-to 'developers' class='list-group-item'}} Developers {{/link-to}}
      {{#link-to 'municipality' class='list-group-item'}} Municipality {{/link-to}}
      {{#link-to 'building' class='list-group-item'}} Building owners {{/link-to}} 
      {{#link-to 'total' class='list-group-item'}} Total Entrepeneurs {{/link-to}}
    </ul>
  </div>
</div>