<div class="row">
{{#each model as |building|}}
    <div class="col-md-4">
        {{#customer-item item=building}}
            {{#link-to 'building.edit' building.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
            <button class="btn btn-danger btn-xs" {{action 'deleteBuildingOwners' building}}>Delete</button>
        {{/customer-item}}
    </div>
{{/each}}
</div>