<p>Database size: {{model.length}}</p>

<p class="pull-right">
  {{link-to 'Add a new Building Owner' 'building.new' class='btn btn-success'}}
</p>

{{building/building-table model=model}}

{{outlet}}